h1 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vw;
    color: #826348;
}

.bstslr {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    color: white;
}

.main-txt {
    padding-right: 15%;
}

a {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.justify-content-end {
    padding-right: 30px;
}

.main-title {
    padding-top: 25%;
    padding-right: 15%;
}

.img-main-home {
    padding-top: 10%;
}

.num-txt-box {
    
}

.num-box-resize {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #506254;
    max-height: 200px;
}