h1 {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    color: #826348;
    padding-top: 15%;
    padding-right: 20%;
}

p {
    padding-right: 20%;
}

a {
    font-family: "urbane-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.justify-content-end {
    padding-right: 30px;
}

.col-5 {
    padding-left: 70px;
}